<li [ngClass]="{editing: isEditingProps}">
    <div class="view">
        <input class="toggle" type="checkbox" [checked] ="todoProps.isComplete" (change)="toggleTodo()"/>
        <label (dblclick)="setTodoInEditMode()" [ngClass]="{'istaskcomplete': todoProps.isComplete}">{{todoProps.task}}</label>
        <button class="destroy" (click)="removeTodo()" ></button>
    </div>
    <ng-container *ngIf="isEditingProps">
        <input class="edit" #textInput [value]="editingText" (keyup)="changeText($event)" (keyup.enter)="changeTodo()"/>
    </ng-container>
</li>